h1 {
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
}

h2 {
    color: #00539CFF;
}

ul {
    list-style-type: none;
    background-color: white;
    overflow: hidden;
    margin: auto;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 13px 17px;
    border-radius: 10%;
}

li a.curr {
    background-color: #00539CFF;
    color: white;
}

.mypicture {
    display: block;
    width: 35%;
    margin-left: 7%;
    border-radius: 20%;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .5);
}

.biocontact {
    display: block;
    width: 40%;
    outline: auto;
    padding: 0.5rem 1.5rem;
    margin-left: 50%;
    border-radius: 2%;
}

.biocontact.one {
    margin-top: -22%;
}

.biocontact.two {
    margin-top: 10px;
}

.projectspec {
    display: block;
    width: 24%;
    outline: auto;
    padding: 0.5rem 1.5rem;
    border-radius: 2%;
}

.projectspec.one {
    margin-top: 10px;
    margin-left: 10%;
}

.projectspec.two {
    margin-top: -36.2%;
    margin-left: 60%;
}

.projectspec.web {
    width: 21%;
    margin-top: 3%;
    margin-left: 41%;
}

.projectspec.projectdescription {
    width: 33%;
    margin-top: 3%;
    margin-left: 35%;
}
